 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .tituloHeroi {
        color: white;
        font-family: "Cinzel Decorative", cursive;
    }

    .escolherPersonagem {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 10px;

        background-color: black;
    }

    .personagem {
        width: 100%;
        height: 100%;
        border: 1px solid transparent;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .heroi {
        width: 380px;
        height: 470px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor:pointer;
    }

    .fotoHeroi {
        width: 300px;
        height: 320px;
        transition: all;
    }

    .fotoHeroi:hover {
        width: 305px;
        height: 325px;
    }

    .nomeHeroi {
        color: whitesmoke;
        font-family: "Cinzel Decorative", cursive;
        margin-top: 15px;
        font-size: 18px;
    }

    .descricaoHeroi {
        width: 350px;
        color: whitesmoke;
        font-size: 15px;
        text-align: center;
    }

    .poderesOPHeroi {
        width: 200px;
        height: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
    }

    .poderOP1Heroi {
        width: 15px;
        height: 15px;
        background-image: var(--icone-umStatus);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .poderOP2Heroi {
        width: 15px;
        height: 15px;
        background-image: var(--icone-doisStatus);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .poderOP3Heroi {
        width: 15px;
        height: 15px;
        background-image: var(--icone-tresStatus);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .poderOP4Heroi {
        width: 15px;
        height: 15px;
        background-image: var(--icone-quatroStatus);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .poderOP5Heroi {
        width: 15px;
        height: 15px;
        background-image: var(--icone-cincoStatus);
        background-repeat: no-repeat;
        background-size: cover;
    }